@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
:root{
--purple500: #281154;
--purple300: #270082;
--purple600: #1b0058;
--red600: #dc0000;
--body: #f0eef6;
--max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
section{
    scroll-margin: 50px;
}
ul{

    list-style: none;
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 20px;
   
}
.logo{

    font-size: 32px;
    font-weight: 600;

}
button{
    padding: 10px;
    border: none;
    transition: 0.2s ease-in-out;

}
.button:hover{
    color: aqua;
    opacity: 0.8s;
    transition: 0.2s ease-in-out;

}
nav ul{
    display: flex;
    gap:20px;

}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;

}
nav ul li:hover{
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;

}
.hero-section{
    background-image: url(images/1img.jpg);
    height: 100vh;
    display: grid;
    color:rgb(255, 255, 255);
    place-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

}
.hero-section .container{
    display: flex;
    flex-direction: column;
    gap:30px;

}
.hero-section h1{
    font-size: 96px ;
}
.hero-section h3{
    font-size: 32px ;
}
.music-section{
    padding-top: 60px;
    background: var(--purple500);
}
.music-section .container{
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    color: white;


}
.ipad-iphone-img{
    position: relative;
    margin-top:-400px ;
    top: 400px;
}
.primary-btn{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
}
.secondary-btn{
    background-color: #281154;
    color: white;
}
.about-music{
    padding-top: 500px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;

}
.video-section{
    background-image: url(video/gif.gif);
    min-height: 900px;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
   
}
.video-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    

}
.hero-section, .video-section{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.gift-section{
    scroll-margin: 180px;
    display: flex;
    justify-content: center;
    margin: 200px auto;
    gap: 90px;

}
.gift-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-upper{
    background-color:#803bb9;
    padding: 20px;
   

}
.footer-upper .container{
    display: flex;
    color: white;
    justify-content: space-between;
    gap: 10px;

}
.footer-upper h4{
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;

}
.footer-lower{
    background-color:#1b0058;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;


}