@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
   line-height: 1.4 ;
   scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    display: flex;

}
header{
    border: 1px solid rgb(227, 227, 227);
    height: 100vh;
}
nav h1{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    border-bottom:  1px solid rgb(227, 227, 227);
}
nav ul{
    list-style: none;
}
nav ul li{
    border-bottom:  1px solid rgb(227, 227, 227);
    padding: 10px;
    color: black;

}
nav ul li:hover{
    background: rgb(195, 194, 194);
    transition: 0.3s ease-in-out;
    
}
/*main-section*/

main{
    padding: 50px;
    max-width: 1200px;
}
section{
    margin-bottom: 50px;
    
}
section article{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section h2{
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    border-bottom:  1px solid rgb(227, 227, 227);
    margin-bottom:20px ;

}
section article ul{
    margin-left:20px ;
}
section article ul li{
    margin-bottom: 10px;
}
code{
         white-space: pre-line;
         line-height: 2;
         background: rgb(198, 198, 198);
         padding: 15px;
         margin: 10px;
         border-radius: 30px;
}
@media (max-width:480px){
    body{
        flex-direction: column;
    }
    header{
        height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }
}
