*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    background-color: gray;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;

}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_control{
    display: flex;
   flex-direction: column ;
}
label{
    font-size: 15px;
    margin-bottom: 15px;
}
input,
select,
textarea{
    padding: 6px 10px;
    border: 1px solid grey ;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: rgb(0, 213, 255) ;
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color:rgb(0, 213, 255) ;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    transition:0.3s ease-in ;
}

button:hover{
    background-color: black;
    border: 2px solid rgb(0, 213, 255) ;
    color: beige;
    transition:0.3s ease-in ;
    cursor: pointer;
}
.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
    width: 100%;
}
@media(max-width:460px) {
    .textarea_control{
        grid-column: 1 / span 1;}
};






