@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{

margin: 0;
padding: 0;
box-sizing: border-box;

}
html,
body{
    line-height: 1.4;
    font-weight: 300;
    font-family:'Roboto', sans-serif;

}
button{
    padding:10px 15px ;
    border:none ;
    transition: 0.3s ease-in-out;
    
}
button:hover{
    transition: 0.3s;
    opacity: 0.10s;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
/* navigation */
nav{
    box-shadow: 5px 5px 5px rgba(19, 18, 18, 0.05);
    position: sticky;
    top: 0%;
    margin-bottom: 32px;
    background: white;
    padding:10px;
    z-index: 50;
}
.navigation{
    display: flex;
    justify-content:space-between  ;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.bar_icon{
    font-size: 32px;
}
/* hero section*/

.hero{
    display: flex;
    gap: 100px;
    justify-content:center;
    align-items: center;
}
.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background-color:rgb(255, 68, 0) ;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
    align-items: center;
}
.hero_content h1{
    font-size: 62px;
    line-height: 1.2;
    font-weight: 400;
}
.explore_btn{
    background: rgb(246, 147, 19);
    align-self: flex-start;
    border-radius: 5px;

}


/*Feature section*/

.features{
    margin-top: 100px ;
    display:flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 50px;
}
.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;

}
.feature img{
    width: 72px;
}
.feature:hover{
    transition: 0.2s ease-in-out ;
    box-shadow: 5px 5px 5px rgb(255, 134, 90);
}
.divider {
    border: 1px solid rgb(0, 0, 0);
    margin: 20px 0;
}
/*menu section*/
.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.menu .tag{
    align-self: center;
    border-radius: 5px;

}
.grid-image{
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.grid-image:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;

}
.grid{
    display: grid;
    gap: 15px;
    grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7" ;
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
/*footer section*/
footer{
    background-color: rgb(174, 217, 255);
    margin: 10px;
}
.link_list h3{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);

}
.link_list ul{
   list-style: none ;
}
.link_list ul li{
font-size: 16px;
font-weight: 400;
margin-bottom: 5px;

}
.news_letter h3{
    margin-bottom: 10px;
    color: rgb(0, 0, 0);

}
.news_letter input{
    padding: 5px 40px;
    margin-bottom: 10px;
}
.footer_container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.icon_container{
    display: flex;
    gap: 15px;
    font-size: 32px;
}
.icon:hover{
    transition:0.2s ease-in-out ;
}



@media (max-width: 786px){
    .hero{
        flex-direction: column;
    }
    .hero_image{
        display: flex;
        justify-content: center;
    }
    .hero_image img{
        width: 90%;

    }
    .hero_content{
        gap: 10px;
        padding: 10px;
    }
    .hero_content h1{
        font-size: 32px;
    }
    .features{
        flex-direction: column;
    }
    .feature{
        flex-direction: column;
    }
    .grid{
        padding: 10px;

    }
    .footer_container{
        flex-direction: column;
    }
}

